.idea
.vagrant*
/doc/build
/reports
/generated
generated.tar.bz2
/static
/media
/sporteasy/settings_local.py
.DS_Store
*.pyc
*.log
*.mo
*.komodoproject
.sass-cache
/tmp
deuzio.db
/sporteasy/locale/fr/LC_MESSAGES/django.mo
/sporteasy/locale/en/LC_MESSAGES/django.mo
*.mo
.elasticbeanstalk/
*.*-e
dump_*
.cache/
/src/
*.sublime-project
*.sublime-workspace
dump.rdb
/bin/grunt/node_modules/
node_modules/
